extends ./../layout/main

block content
    div(class="col-xs-12 col-md-12")
        h2(class="text-center") Register new user
        form(action="/users", method="POST")
            div(class="form-group")
                input(type="text", name="name", palceholder="Name: ", class="form-control")
            div(class="form-group")
                input(type="text", name="username", palceholder="Username", class="form-control")
            div(class="form-group")
                input(type="email", name="email", palceholder="E-mail", class="form-control")
            div(class="form-group")
                input(type="password", name="password", palceholder="Password", class="form-control")
            div(class="form-group")
                button(type="submit", class="btn btn-pimary") Create
